server:
  port: 8080
spring:
  security:
    oauth2:
      client:
        registration:
          kakao:
            scope: account_email
            client-name: Kakao
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/api/users/{action}/oauth2/code/{registrationId}"
            client-authentication-method: post
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
  profiles:
    include: secret
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_ADDRESS}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          starttls:
            enable: true
          auth: true
kakao:
  rest:
    api:
      key: ${KAKAO_REST_API_KEY}
image:
  upload:
    path: src/main/upload/article-images
custom:
  jwt:
    access:
      expiration: 1800000 # 30분
      header: Authorization
    refresh:
      expiration: 604800000 #  일주일
      header: Authorization-refresh